section#products
  .container(name="products")
    .center
      p.section-title #{sectionTitleProducts}
      .products.clearfix
        .product
          .product-title
            p #{sectionProductsProductTitle1}
          .product-elems
            p #{sectionProductsProduct1}
        .product
          .product-title
            p #{sectionProductsProductTitle2}
          .product-elems
            p #{sectionProductsProduct2}
