section#services
  .container(name="services")
    .center
      p.section-title #{sectionTitleServices}
    .center
      .services.clearfix
        .service-wrapper
          .service#service-dev
            .service-body
              i.fa.fa-cubes
              p.title #{sectionServicesServiceTitle1}
              .elems
                p.text #{sectionServicesServiceSubtitle1}
                ul
                  each item in sectionServicesServiceElems1
                    li= item
        .service-wrapper
          .service#service-sup
            .service-body
              i.fa.fa-support
              p.title #{sectionServicesServiceTitle2}
              .elems
                p.text #{sectionServicesServiceSubtitle2}
        .service-wrapper
          .service#service-con
            .service-body
              i.fa.fa-user-md
              p.title #{sectionServicesServiceTitle3}
              .elems
                p.text #{sectionServicesServiceSubtitle3}
                ul
                  each item in sectionServicesServiceElems3
                    li= item
        .service-wrapper
          .service#service-aud
            .service-body
              i.fa.fa-thumbs-o-up
              p.title #{sectionServicesServiceTitle4}
              .elems
                p.text #{sectionServicesServiceSubtitle4}
                ul
                  each item in sectionServicesServiceElems4
                    li= item
